<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Daily Fuel Price
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="cities">
      <ion-label>City</ion-label>
      <ion-select [(ngModel)]="city" (ngModelChange)="getPriceQuote()">
        <ion-option *ngFor="let cityName of cities">{{cityName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="pprice">
    <ion-card-content>
      {{lst_city}}
      <br>
      Rs. {{pprice}}
      <br>
      <span class="inside"> PETROL PRICE</span>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-md-diesel" *ngIf="dprice">
    <ion-card-content>
      {{lst_city}}
      <br>
      Rs. {{dprice}}
      <br>
      <span class="inside"> DIESEL PRICE</span>
    </ion-card-content>
  </ion-card>

</ion-content>